.review{
    display: flex;
    flex-direction: column;
    gap: 20px;margin: 20px 0;

    .user{
        display: flex;
        align-items: center;
        .pp{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        .info{
            span{
                color: #404145;
                font-weight: 700;
                font-size: 16px;
            }
            .country{
                display: flex;
                align-items: center;
                gap: 4px;
                color: gray;
                span{
                    font-weight: 500;
                    font-size: 14px;
                    color: #62646a;
                }
                i{
                    width: 20px;
                }
            }
        }    
    }
    .stars{
        display: flex;
        align-items: center;
        gap: 7px;

        i{
            width: 14px;
            height: 14px;
            color: #404145;
        }
        span{
            cursor: default;
            height: 14px;
            font-size: 16px;
            font-weight: bold;
            color:#404145;
        }
    }
    .helpful{
        display: flex;
        align-items: center;
        gap: 10px;
        i{
            width: 14px;
            cursor: pointer;
        }
        span{
            cursor: default;
        }
    }
}